<!DOCTYPE html>
<html>
<head>
  <title>Puppy Display</title>
</head>
<body>
<h1>Puppy Parade!</h1>
Puppy Name: <%=@puppy.name%><br>
Puppy Breed: <%=@puppy.breed%><br>
Puppy Age: <%=@puppy.age%><br>
</body>
</html>